<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <import resource="loggers.xml"/>

    <bean id="client" class="Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Denis Borisenko"/>
    </bean>

    <bean id="dateTimeFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="app"
          class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

</beans>